body {
    margin: 0;
    overflow-x: hidden;
}

img {
    display: block;
}

/* Sidebar */
/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: -200px;  /* changed */
    width: 200px;  /* changed */
    height: 100vh;
    /* background: red; */
    padding: 40px 20px;
    transition: 0.3s ease;
    z-index: 1000;
}

#sidebar.active {
    left: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

#overlay.active {
    display: block;
}

#toggleBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
}

/* Desktop */
@media (min-width: 768px) {
    #sidebar {
        left: 0;
    }

    #toggleBtn {
        display: none;
    }

    #main {
        margin-left: 250px;
    }
}
.sidebar_row{
    width: 400px;
    height: 100vh;
}
.main_row{
    width: 100%;
    /* height: ; */
}
.about_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.img-overlay{
    width: 400px;
    height: 400px;
}
.text{
    color: black;
}
.para{
    color: #00FF00;
}
.para1{
    color:#00FF00;
}
.we{
     color:#00FF00;
}
.ab{
     color:#00FF00;
}
.menu{
    
   color: #00FF00;
   
}
.ga{
    
   color: #00FF00;
}
.co{
    
   color: #00FF00;
}